
body{
  font-family: Arial, sans-serif;
  margin:0; 
  padding:0;
  background:#f2f2f2;
}
header{
  background-color:white;
  text-align:center;
  border:1px solid black;
  border-radius:30px;
  box-shadow:0 4px 15px;
}
nav{
  margin-top:30px;
  text-align:center;
}
nav a{
  text-decoration:none;
  margin:10px;
  font-weight:bold;
}
 .container{
   width:80%; 
   margin:auto; 
   padding:20px;
}
.btt{
  height:50px;
  width:40px;
  border:1px solid black;
  padding:10px;
  border-radius:9px;
  box-shadow:0 4px 10px;
}
.card{
  background:white; 
  padding:20px; 
  margin:15px 0;
  border-radius:10px; 
  box-shadow:0 4px 10px gray;
}
footer{
  background:#333; 
  color:white; 
  text-align:center; 
  padding:15px;
}
 button{
     padding:10px 20px; 
     background:#333; 
     color:white; 
     border:none; 
     cursor:pointer; 
     border-radius:5px;
}
button:hover{
  background:yellow;
}
a:hover{
  color:yellow;
}